@import url(login-style-a.css);
@import url(dytch-login-style-a.css);

body[data-theme=default] .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a img,
body[data-theme=default] .sidebar-v2-location #sidebar-v2 .hl_nav-settings nav a img {
	-webkit-filter: none !important;
	filter: none !important
}

#opportunities .date-time-picker .field .field-input {
	color: #1b1564 !important;
	box-shadow: none !important;
	font-weight: 800
}
